[settings]
sendername = kiraka
dbname = kiraka 
kurzbeschreibung = Kinderkanal des West Deutschen Rundfunks 
url = http://www.kiraka.de 
playlist_url = http://www.kiraka.de/musikliste/ 
type = html

[xpath]
count_from = 1
count_to = count(.//table[@id='time']/tbody/tr) 
time = (.//table[@id='time']/tbody//td[1]/text())[%%counter%%]
artist =(.//table[@id='time']/tbody//td[3]/text())[%%counter%%]
title = (.//table[@id='time']/tbody//td[2]/text())[%%counter%%]
duration = 
